@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500,600,700|Source+Sans+Pro:400,600,700&display=swap");

body {
  background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

.picuterFrame {
  width: 100px;
  height: 100px;
  border: solid 10px #ddd;
  overflow: hidden;
  box-shadow: 5px 5px 20px 5px #222;
  cursor: pointer;
}

.picuterFrame:after {
  width: 100px;
  height: 100px;
  content: "";
  background-color: rgba(3,3,3,0);
  position: absolute;
  transform: translate(-10px, -110px);
  transition: background-color 0.3s ease;
}

.picuterFrame:hover:after {
  background-color: rgba(3,3,3,0.5);
}


.picuterFrame img {
  height: 100px;
}

input[type=radio] {
display: none;
}

.cardLabel {
  opacity: 0.7;
  font-size: 13px;
  margin-bottom: 6px;
}

#cardForm {
  position: relative;
  margin-top: 200px;
}

#cardVisual {
  position: relative;
  z-index: 2;
}

.cardNumber {
  font-weight: 500;
  line-height: 1;
  font-size: 27px;
  margin-bottom: 35px;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;  
}

.cardWrapper {
  /*background-color: red;*/
  background-image: url(image/sample01.jpg);
  background-size: cover;
  max-width: 310px;
  /*height: 63%;
  width: 100%;*/
  height: 189px;
  width: 300px;
  border-radius: 25px;
  position: absolute;
  color: #fff;
  box-shadow: 5px 5px 20px 5px #222;
}

.card {
  position:relative;
}


.slide-fade-up-enter-active {
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
  position: relative;
}
.slide-fade-up-leave-active {
  transition: all 0.25s ease-in-out;
  position: absolute;
}
.slide-fade-up-enter {
  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
}
.slide-fade-up-leave-to {
  opacity: 0;
  transform: translateY(-15px);
  pointer-events: none;
}

.slide-fade-right-enter-active {
  transition: all 0.25s ease-in-out;
  transition-delay: 0.1s;
  position: relative;
}
.slide-fade-right-leave-active {
  transition: all 0.25s ease-in-out;
  position: absolute;
}
.slide-fade-right-enter {
  opacity: 0;
  transform: translateX(10px) rotate(45deg);
  pointer-events: none;
}
.slide-fade-right-leave-to {
  opacity: 0;
  transform: translateX(-10px) rotate(45deg);
  pointer-events: none;
}